{% extends 'base.html.twig' %}

{% block title %}ApAccess{% endblock %}

{% block body %}
    <h1>ApAccess</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ap_access.id }}</td>
            </tr>
            <tr>
                <th>_view</th>
                <td>{{ ap_access.view ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>_add</th>
                <td>{{ ap_access.add ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>_edit</th>
                <td>{{ ap_access.edit ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ap_access_index') }}">back to list</a>

    <a href="{{ path('ap_access_edit', {'id': ap_access.id}) }}">edit</a>

    {{ include('ap_access/_delete_form.html.twig') }}
{% endblock %}
