<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

{% block body %}
<div class="aprole-global-container">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connécté sur le profil de {{ app.user.firstname }} {{app.user.lastname}}, <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}
    <div class="aprole-global-container">
        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
        <div class="aprole-global-container">

            <label class="m-1" for="inputEmail">Mail</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label class="m-1" for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <button class="m-5 btn-bottom btn-edit-role btn btn-ligth" type="submit">
                Sign in
            </button>
        </div>
    </form>
    </div>
</div>
 {% endblock %}
    </body>
</html>
