<div class="aprole-global-container">
    <h1 class="catalog-h1">Index des packs</h1>
    <span class="catalog-search-container">
        <span class="catalog-content-search-container d-flex flex-column">
            <label for="case-search-choice">Pack
            {% if (errorsPack["packId"]) is defined  %} <span class="text-danger">{{errorsPack["packId"]}}</span>{% endif %}
            </label>
            <span class="d-flex">
                <input class="form-control" list="case-search-list" id="case-search-choice" name="case-search-choice"/>
                <datalist id="case-search-list">
                {% for ap_catalog_case_vb in ap_catalog_case_vbs %}
                <option data-value="{{ap_catalog_case_vb.id}}" value="{{ap_catalog_case_vb.name}}"></option>
                {% endfor %}
                </datalist>
                <form class="form-catalog" method="POST" action="{{ path('catalog_index' ) }}?roleback=2">
                    <input type="hidden" data-value="" name="pack-value" id="caseAnswerInput-hidden">
                    <input id="btnPackValue" class="btn btn-lambda " type="submit" name='btnPackValue' value="Rechercher">
                </form>
            </span>
        </span>
        {% for ap_access in app.user.RoleId.apAccesses %}
            {% if ap_access.tab.name is same as(tabName2) and ap_access.add is same as(true) %}
            <span class="add-cust-catalog-bp d-flex flex-column justify-content-end">
                <a class="btn btn-create " href="{{ path('ap_catalog_case_vb_new') }}">Nouveau pack</a>
            </span>
            {% endif %}
        {% endfor %}
        </span>
    </span>
    <span class="catalog-grid-packs">
        {% for ap_catalog_case_vb in ap_catalog_case_vbs %}
            {% set loopMiniature = 0 %}
                {% for apCatalogVbBulkImage in ap_catalog_case_vb.apCatalogVbBulkImages %}
                    {% if apCatalogVbBulkImage.miniature == 1 %}       
                    {% set loopMiniature =  loopMiniature + 1 %}
                        {# <a class="folder-change" href="{{ path('ap_catalog_case_vb_show', {'id': ap_catalog_case_vb.id}) }}">
                            <img style="object-fit: cover" src="{{ vich_uploader_asset(apCatalogVbBulkImage, 'imageFile') }}" class="catalog-hover-zoom h-100 catalog-img" alt="model image upload">
                            <h4 class="overflow-hidden">{{ ap_catalog_case_vb.name }}</h4>
                        </a> #}
                    {% endif %}
                {% endfor %}
            {% if loopMiniature == 1 %}
                {% for apCatalogVbBulkImage in ap_catalog_case_vb.apCatalogVbBulkImages %}
                    {% if apCatalogVbBulkImage.miniature == 1 %}       
                        {# <a class="{% if ap_catalog_case_vb.archive == 1  %} archived {% endif %} folder-change" href="{{ path('ap_catalog_case_vb_show', {'id': ap_catalog_case_vb.id}) }}">
                            <img style="object-fit: cover" src="{{ vich_uploader_asset(apCatalogVbBulkImage, 'imageFile') }}" class="catalog-hover-zoom h-100 catalog-img" alt="model image upload">
                            <h4 class="overflow-hidden">{{ ap_catalog_case_vb.name }}</h4>
                        </a> #}
                        <div class="{% if  ap_catalog_case_vb.archive == 1 %} archived {% endif %} card card-design {{'card' ~ apCatalogVbBulkImage.id }}">
                        <a  href="{{ path('ap_catalog_case_vb_show', {'id': ap_catalog_case_vb.id}) }}">
                            <span class="catalog-card-img btn-launch-modal" data-img-id="{{apCatalogVbBulkImage.id}}">
                                <img style="object-fit: cover" src="{{ vich_uploader_asset(apCatalogVbBulkImage, 'imageFile') }}" class="h-100 catalog-img catalog-hover-zoom" alt="model image upload">
                            </span>
                        </a>
                        <div class="card-body card-body-design">
                            <span class="d-flex flex-column justify-content-between">
                                <span class="d-flex justify-content-center card-title">{{ ap_catalog_case_vb.name }}</span>
                            </span>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% else %}

                <div class="{% if  ap_catalog_case_vb.archive == 1 %} archived {% endif %} card card-design {{'card' ~ ap_catalog_case_vb.id }}">
                    <a  href="{{ path('ap_catalog_case_vb_show', {'id': ap_catalog_case_vb.id}) }}">
                        <span class="catalog-card-img btn-launch-modal" data-img-id="{{ap_catalog_case_vb.id}}">
                            {# <img style="object-fit: cover" src="" class="h-100 catalog-img catalog-hover-zoom" alt="model image upload"> #}
                            <p class="p-5"> Aucune image n'est mise en avant pour ce pack </p>
                        </span>
                    </a>

                    <div class="card-body card-body-design">
                        <span class="d-flex flex-column justify-content-between">
                                <span class="d-flex justify-content-center card-title">{{ ap_catalog_case_vb.name }}</span>
                        </span>
                    </div>
                </div>
                    {# <a class="folder-change {% if ap_catalog_case_vb.archive == 1  %} archived {% endif %}" href="{{ path('ap_catalog_case_vb_show', {'id': ap_catalog_case_vb.id}) }}">
                    <img style="object-fit: cover" src="" class="catalog-hover-zoom h-100 catalog-img" alt="model image upload">
                    <h4 class="overflow-hidden">{{ ap_catalog_case_vb.name }}</h4>
                    </a> #}
            {% endif %}
        {% else %}
            Aucun résultat
        {% endfor %}
    </span>
</div>