<div class="form-new-container">
{{ form_start(form, {'attr': {'onsubmit': 'buttonName.disabled=true; return true;' }}) }}

    <div class="row">
        {{ form_row(form.Name, { 'label': 'Nom' }) }}
    </div>
    
    <div class="row">
    {{ form_label(form.imageFile, 'Choisissez un document à transférer') }}
        {{ form_widget(form.imageFile, {
            attr: {
                'class' : 'imageUpload'
            }
        }) }}
    </div>

    <div>
        <input type="checkbox" id="parapher" name ="parapher">
        <label for="parapher">lu et approuvé</label>
    </div>
    <div class="m-5 d-flex justify-content-around">
        <button class="btn w-100" name="buttonName" value="Submit">Sauvegarder</button>
    </div> 

{{ form_end(form) }}
</div>