{% extends 'base.html.twig' %}

{% block title %}ApInformationFiles index{% endblock %}

{% block body %}
    <h1>ApInformationFiles index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>FileName</th>
                <th>FileSize</th>
                <th>FileType</th>
                <th>Created_at</th>
                <th>State</th>
                <th>Archive</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ap_information_file in ap_information_files %}
            <tr>
                <td>{{ ap_information_file.id }}</td>
                <td>{{ ap_information_file.Name }}</td>
                <td>{{ ap_information_file.FileName }}</td>
                <td>{{ ap_information_file.FileSize }}</td>
                <td>{{ ap_information_file.FileType }}</td>
                <td>{{ ap_information_file.createdAt ? ap_information_file.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ ap_information_file.state }}</td>
                <td>{{ ap_information_file.Archive ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('information_files_show', {'id': ap_information_file.id}) }}">show</a>
                    <a href="{{ path('information_files_edit', {'id': ap_information_file.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('information_files_new') }}">Create new</a>
{% endblock %}
