        
<form id="form-employee-fiters">
    <tr>
        <th> 
        <input type="text" placeholder="Nom" id="filter-role-lastname-input" class="employee-role-filter" value="{{ (roleFilterSession is empty ) ? '' : roleFilterSession['ajaxFilterRoleName'] }}">
        </th>
        <th><button id="btn-role-search-filter" class="btn-search"><i class="search-image fas fa-search"></i></button>
        <button id="btn-role-erease-filter" class="btn-search"><i class="search-image fas fa-eraser"></i></button></th>
    </tr>
    <input  id="hidden-role-input-order-and-name" type="hidden" data-ajaxLimitRole="{{(roleFilterSession is empty ) ? limitRole : roleFilterSession['limitRole'] }}" data-ajaxOrderRole="{{ (roleFilterSession is empty ) ? '' : roleFilterSession['ajaxRoleOrder'] }}" data-ajaxRoleFilterNameOrder="">
</form>

{# {{ (filterSession is empty ) ? '' : filterSession['ajaxOrder'] }}" data-ajaxFilterNameOrder="{{ (filterSession is empty ) ? '' : filterSession['ajaxFilterNameOrder'] }} #}