<tr>
    <td  colspan="8">
        <div class="d-flex justify-content-between">
            <div class="">
                <span class="d-flex">
                    Affichage
                    <select placeholder = "looool" class="form-select" aria-label="Default select example" id="roleSelectLimitLine">
                        <option value="">{{limitRole}} </option>
                        <option  value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                    </select>
                    /{{totalRole}} résultat(s)
                </span>
            </div>
            <input id="hidden-val-pageRole" type="hidden" name="pageRole" value="{{pageRole}}">
            <input id="hidden-role-val-limit" type="hidden" name="limitRole" value="{{limitRole}}">
            <input id="hidden-val-totalRole" type="hidden" name="totalRole" value="{{totalRole}}">
            <ul id="paginator-role-select-id" class="pagination justify-content-end">
                
                <li class="page-item {{(pageRole == 1) ? 'disabled' : ''}}">
                    <button class="page-link" data-limitRole="{{limitRole}}" data-pageRole="1"><i class="fas fa-angle-double-left"></i></button>
                </li>
                <li class="page-item {{(pageRole == 1) ? 'disabled' : ''}}">
                    <button class="page-link" data-limitRole="{{limitRole}}" data-pageRole="{{ pageRole - 1 }}"><i class="fas fa-angle-left"></i></button>
                </li>

                {% set totalRolePages = (totalRole / limitRole)|round(0, 'ceil') %}
                {% if totalRolePages == 0 %}
                {% set totalRolePages = 1 %}
                {% endif %}

                
                <input id="hidden-val-totalRole" type="hidden" name="totalRole" value="{{totalRolePages}}"> 
                {% for item in 1..totalRolePages %}
                    <li class="page-item {{ (pageRole == item)? 'active': '' }}"> 
                    <button class="page-link" data-limitRole="{{limitRole}}" data-pageRole="{{item}}">{{item}}</button>
                    </li>
                {% endfor %}

                <li>
                        <input autocomplete="off" class="form-control" type ="text" name="pageRoleNumber" id="pageRoleNumber-input-search" placeholder="Page recherchée..."/>
                </li>

                <li class="page-item {{(pageRole == totalRolePages) ? 'disabled' : ''}}">
                    <button class="page-link" data-limitRole="{{limitRole}}" data-pageRole="{{ pageRole + 1 }}"><i class="fas fa-angle-right"></i></button>
                </li>
                <li class="page-item {{(pageRole == totalRolePages) ? 'disabled' : ''}}">
                    <button class="page-link" data-limitRole="{{limitRole}}" data-pageRole="{{ totalRolePages }}"><i class="fas fa-angle-double-right"></i></button>
                </li>
        
            </ul>
        </div>
    </td>
</tr>