{% block tabcontent %}
{{ dump(users) }}
<h1>Liste des employés</h1>

 <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.active ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                    <a href="{{ path('user_edit_password', {'id': user.id}) }}">edit password</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ap_employee_new') }}">Create new</a>

    <h1>ApTab index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>path</th>
                <th>clef de la table supérieur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ap_tab in ap_tabs %}
            <tr>
                <td>{{ ap_tab.id }}</td>
                <td>{{ ap_tab.name }}</td>
                <td>{{ ap_tab.path }}</td>
                <td> 
                {% if ap_tab.apTab.id is defined %}
                {{ap_tab.apTab.id }}
                {% endif %}

                </td> 
                <td>
                    <a href="{{ path('ap_tab_show', {'id': ap_tab.id}) }}">show</a>
                    <a href="{{ path('ap_tab_edit', {'id': ap_tab.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ap_tab_new') }}">Create new</a>

    {% endblock %}