<div class="form-new-container">
{{ form_start(form) }}

    <div class="row">
        {{ form_row(form.name, { 'label': 'Nom' }) }}
    </div>
    <div class="row">
    {{ form_label(form.imageFile, 'Choisissez un document à transférer') }}
        {{ form_widget(form.imageFile, {
            attr: {
                'class' : 'imageUpload'
            }
        }) }}
    </div>

    <div class='image-preview m-5' id="imagePreview">
        <img src="" alt="Image preview" class="image-preview__image">
        <span class='image-preview__default-text'>Image</span>
    </div>

        <button class="btn w-100">{{ button_label|default('Sauvegarder') }}</button>


{{ form_end(form) }}
</div>