{{ form_start(form) }}
    <div class="form-div-edit p-5">
         {{ form_widget(form.customer,{'attr': {'class': 'm-2 '}}) }}
        {{ form_widget(form.name,{'attr': {'class': 'm-2 '}}) }}
        <button class="m-2 w-100  btn btn-ligth">{{ button_label|default('Envoyer') }}</button>
    </div>
{{ form_end(form) }}