{% extends 'base.html.twig' %}

{% block title %}Modifier model BP{% endblock %}

{% block body %}
    {% for ap_access in app.user.RoleId.apAccesses %}
        {% if ap_access.tab.name is same as(tabName) and ap_access.edit is same as(true) %}
            <span class="form-container-with-title">
                <h3 class="align-self-center catalog-h1 mt-2">Modifier {{ap_catalog_model_bp.name}} </h3>
                <span class="form-new-container">
                    {{ include('tabs/Catalog/ap_catalog_model_bp/_form_edit.html.twig', {'button_label': 'Envoyer'}) }}
                    {# <a  href="{{ path('ap_catalog_model_bp_index') }}">back to list</a> #}
                    {% for ap_access in app.user.RoleId.apAccesses %}
                        {% if ap_access.tab.name is same as(tabName) and ap_access.delete is same as(true) %}
                            {{ include('tabs/Catalog/ap_catalog_model_bp/_delete_form.html.twig') }}
                        {% endif %}
                    {% endfor %}
                    <span class="form-div-edit px-5">
                        <a class="m-2 w-100 btn" href="{{ path('ap_sector_bp_index', {'id': ap_catalog_model_bp.id}) }}">Retour</a>
                    </span>
                </span>
            </span>
        {% endif %}
    {% endfor %}
{% endblock %}
