{% extends 'base.html.twig' %}

{% block title %}Catalogue
{% endblock %}


{% block javascripts %}
<script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
	{{ encore_entry_script_tags('apCatalogModelBpShow') }}
	
{% endblock %}


{% block body %}
{# titre et bouton en haut de page #}
{# <span class="d-flex">
	<h1 class="catalog-h1">Dossier du model de batterie: {{ ap_catalog_model_bp.name }}</h1>
	{% for ap_access in app.user.RoleId.apAccesses %}
    	{% if ap_access.tab.name is same as(tabName) and ap_access.edit is same as(true) %}
		<a class="ps-3 align-self-center" href="{{ path('ap_catalog_model_bp_edit', {'id': ap_catalog_model_bp.id}) }}"><i class="fas fa-pencil-alt"></i></a>
		{% endif %}
	{% endfor %}
</span>

	<span class="d-flex justify-content-around">
		{% for ap_access in app.user.RoleId.apAccesses %}
    		{% if ap_access.tab.name is same as(tabName) and ap_access.edit is same as(true) %}
				<a class="m-2 btn" href="{{ path('ap_catalog_files_bp_new', {'id': ap_catalog_model_bp.id}) }}">Ajouter un document</a>
			{% endif %}
		{% endfor %}
		{% for ap_access in app.user.RoleId.apAccesses %}
    		{% if ap_access.tab.name is same as(tabName) and ap_access.edit is same as(true) %}
				<a class="m-2 btn" href="{{ path('ap_catalog_model_bp_archive', {'id': ap_catalog_model_bp.id}) }}">Archiver le model</a>
			{% endif %}
		{% endfor %}
	</span> #}
	<input id="hidden-data-picture-id" name="hidden-data-picture-id" type="hidden" value="">
	<div id="allCardFromCatalogModelShowBp" class='d-flex justify-content-around flex-wrap'>
{# fin #}

{# card pdf #}
{% set loopCarroussel = 0 %}
{{ include('tabs/Catalog/ap_catalog_model_bp/card_pdf.html.twig') }}
{# fin card pdf #}

{# card for image #}
{{ include('tabs/Catalog/ap_catalog_model_bp/card_image.html.twig') }}
{# fin #}

{# carroussel image modal #}
{{ include('tabs/Catalog/ap_catalog_model_bp/modal_carroussel.html.twig') }}
{# endregion modal #}

{# modal delete #}
{{ include('tabs/Catalog/ap_catalog_model_bp/modal_delete.html.twig') }}
{# end modal delete #}





		{# <a href="{{ path('ap_catalog_files_bp_new') }}">Create new</a>
				
				    <a href="{{ path('ap_catalog_model_bp_index') }}">back to list</a>
				
				    
				
				    {{ include('tabs/Catalog/ap_catalog_model_bp/_delete_form.html.twig') }} #}




{% endblock %}
