{{ form_start(form) }}


 {{ form_row(form.name) }}

<ul class="apaccesses" data-index="{{ form.apaccesses|length > 0 ? form.apaccesses|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.apaccesses.vars.prototype)|e('html_attr') }}">
{% for apaccessRole in ap_role.apaccesses %}
<pre>
    {{ dump(apaccessRole.tab.id) }}
</pre>
{% endfor %}
        {% for apaccess in form.apaccesses %}

            <li>{{ form_row(apaccess) }}
            <a class="js-delete" href="{{ path('ap_role_access_delete', {'id': apaccess.id.vars.value}) }}">Delete</a>
            </li>
                       
        {% endfor %}
{# 
        {% for apaccess in ap_role.apaccesses %}
        {{ dump(apaccess.id) }}
        {% endfor %}
        #}
</ul> 
<button type="button" class="add_item_link" data-collection-holder-class="apaccesses">Add a apaccess</button>
<input type="submit" value="Envoyer le formulaire">
{{ form_end(form) }}
