{% extends 'base.html.twig' %}

{% block title %}ApRole index{% endblock %}

{% block body %}
    <h1>ApRole index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ap_role in ap_roles %}
            <tr>
                <td>{{ ap_role.id }}</td>
                <td>{{ ap_role.name }}</td>
                <td>
                    <a href="{{ path('ap_role_show', {'id': ap_role.id}) }}">show</a>
                    <a href="{{ path('ap_role_edit', {'id': ap_role.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ap_role_new') }}">Create new</a>
{% endblock %}
