<div class="aprole-global-container">
    {% set loop_qse = 0 %}
    {% set fileEmpty = 0 %}
    {% for parent in all_parent_section %}
        {% if parent.state == 2 %}
            {% for section in all_section  %}
                {% if section.state == 2 and section.parentSection.id == parent.id %}
                    {% for file in all_file %}
                        {% if file.section.id == section.id and file.archive == 0 %}
                            {% set fileEmpty = fileEmpty + 1 %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {% if fileEmpty == 0 %}
            {% else %}
                {% set fileEmpty = 0 %}
                {% set loop_qse = loop_qse + 1 %}
                    <h3 class="m-3">{{parent.name}}
                    {# test #}

                        {% for ap_access in app.user.RoleId.apAccesses %}
                            {% if ap_access.tab.name is same as(tabName) and ap_access.edit is same as(true) %}
                                <a title="Modifier la catégorie: {{parent.name}}" class="btn btn-edit" href="{{ path('information_parent_section_edit', {'id': parent.id}) }}">
                                    <i class="fas fa-edit"></i>
                                </a>
                            {% endif %}
                        {% endfor %}
{# 
                        {% for ap_access in app.user.RoleId.apAccesses %}
                            {% if ap_access.tab.name is same as(tabName) and ap_access.add is same as(true) %}
                                <a title="Créer une nouvelle catégorie" href="{{ path('information_parent_section_new_qse') }}" class="btn btn-create">
                                    <i class="fa-solid fa-square-plus"></i>
                                </a>
                            {% endif %}
                        {% endfor %} #}
                    {# test #}
                    </h3>
                        {# {{ include('tabs/information/ap_information_parent_section/_delete_form.html.twig') }} #}
                        {# {% for ap_access in app.user.RoleId.apAccesses %}
                            {% if ap_access.tab.name is same as(tabName) and ap_access.edit is same as(true) %}
                                <a class="m-3 btn btn-edit" href="{{ path('information_parent_section_edit', {'id': parent.id}) }}">Modifier</a>
                            {% endif %}
                        {% endfor %} #}
                        {# {% for ap_access in app.user.RoleId.apAccesses %}
                            {% if ap_access.tab.name is same as(tabName) and ap_access.add is same as(true) %}
                            <a class="m-3 btn btn-create" href="{{ path('information_section_new_qse', {'id': parent.id}) }}">
                                Nouvelle section
                            </a>
                            {% endif %}
                        {% endfor %} #}
            {# faire un includes #}
            {{ include('tabs/information/qse/section.html.twig') }}
            {# fin de l'include #}
            {% endif %}
        {% endif %}
    {% else %}
        <p>Pas de parent</p>
    {% endfor %}
</div>