{% for file in all_file %}
    {% if file.section.id == section.id and file.archive == 0 %}
        {# <li class="d-flex justify-content-between my-1"> #}
        <tr>
        {# <span class="align-self-center"> #}
                {{file.name}}
                <small class="text-muted">
                    {{file.createdAt|format_datetime('full', 'short', locale='fr')}}
                </small>
            {# </span> #}
            <span class="d-flex">
                {% for ap_access in app.user.RoleId.apAccesses %}
                    {% if ap_access.tab.name is same as(tabName) and ap_access.view is same as(true) %}
                        <span class="mx-3">
                            <a class="btn" href="{{ path('information_files_show', {'id': file.id}) }}">
                                <i class="fas fa-eye"></i>
                            </a>
                        </span>
                    {% endif %}
                {% endfor %}
                {% for ap_access in app.user.RoleId.apAccesses %}
                    {% if ap_access.tab.name is same as(tabName) and ap_access.edit is same as(true) %}
                        <span class="mx-3">
                            <a class="btn mx-3" href="{{ path('information_files_edit', {'id': file.id}) }}">
                                <i class="fas fa-edit"></i>
                            </a>
                        </span>
                    {% endif %}
                {% endfor %}
                {% for ap_access in app.user.RoleId.apAccesses %}
                    {% if ap_access.tab.name is same as(tabName) and ap_access.edit is same as(true) %}
                        <form name="archive{{file.id}}" method="post" action="{{ path('information_files_archive', {'id': file.id}) }}" class="hover mx-3">
                            <input type="hidden" name="_token" value="{{ csrf_token('archiver' ~ file.id) }}">
                            <button class="btn">
                                <i class="far fa-file-archive"></i>
                            </button>
                        </form>
                    {% endif %}
                {% endfor %}
                {% for ap_access in app.user.RoleId.apAccesses %}
                    {% if ap_access.tab.name is same as(tabName) and ap_access.delete is same as(true) %}
                    <span class="mx-3">
                        {{ include('tabs/information/ap_information_files/_modal_delete.html.twig' , {'button_label': '<i class="fas fa-trash-alt"></i>'}) }}
                    </span>
                    {% endif %}
                {% endfor %}
                {% for ap_access in app.user.RoleId.apAccesses %}
                    {% if ap_access.tab.name is same as(tabName) and ap_access.edit is same as(true) %}
                    <span class="mx-3">
                        {% set totalNumberParapher = 0 %}
                        {% set totalNumberParapherTrue = 0 %}
                        {% set totalNumberParapherFalse = 0 %}
                        {% for parapher in file.apInformationParaphers %}
                            {% set totalNumberParapher = totalNumberParapher + 1 %}
                            {% if parapher.state == true  %}
                                {% set totalNumberParapherTrue = totalNumberParapherTrue + 1 %}
                            {% elseif parapher.state == false %}
                                {% set totalNumberParapherFalse = totalNumberParapherFalse + 1 %}
                            {% endif %}
                        {% endfor %}
                        {% if totalNumberParapherFalse > 0 %}
                        {% set percentParapher = (totalNumberParapherTrue * totalNumberParapherFalse / totalNumberParapher) * 100 %}
                        {# button trigger modal #}
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#parapherModal{{file.id}}"> {{percentParapher}} % </button>
                        {# modal #}
                        <div class="modal fade" id="parapherModal{{file.id}}" tabindex="-1" aria-labelledby="parapherModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="parapherModalLabel">Lu et signé par utilisateur</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <ul>
                                    {% if totalNumberParapherFalse > 0 %}
                                    <h6>À faire</h6>
                                    {% endif  %}
                                        {% for parapher in file.apInformationParaphers %}
                                            {% if parapher.state == 0 %}
                                            <li class="text-danger">{{parapher.user.firstname}}{{parapher.user.lastname}}</li>
                                            {% endif %}
                                        {% endfor %}
                                    {% if totalNumberParapherTrue > 0 %}
                                    <h6>Fait</h6>
                                    {% endif %}
                                        {% for parapher in file.apInformationParaphers %}
                                            {% if parapher.state == 1 %}
                                            <li class="text-success">{{parapher.user.firstname}}{{parapher.user.lastname}}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                </div>
                            </div>
                            </div>
                        {% else %}
                        <div class="btn">N/A</div>
                        {% endif %}
                    </span>
                    {% endif %}
                {% endfor %}
            </span>
        </tr>
        {# </li> #}
    {% endif %}
{% endfor %}
