<div class="d-flex flex-column array-scroll">
    <div class="d-flex flex-wrap ">
        <div class="list-group flex-row" id="list-tab" role="tablist">
            {% set loop_qse = 0 %}
            {% set fileEmpty = 0 %}
            {% for section in all_section  %}
                {% if section.state == 2 and section.parentSection.id == parent.id %}
                    {% for file in all_file %}
                        {% if file.section.id == section.id and file.archive == 0 %}
                            {% set fileEmpty = fileEmpty + 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if fileEmpty == 0 %}
                    {% else %}
                        {% set fileEmpty = 0 %}
                        {% set loop_qse = loop_qse + 1 %}

                        <a class="list-group-item list-group-item-action {{ loop_qse == 1 ? 'active' : '' }} " id="list-home-{{section.id}}" data-bs-toggle="list" href="#list-{{section.id}}" role="tab" aria-controls="list-home">
                            {{section.name}}
                            {% for ap_access in app.user.RoleId.apAccesses %}
                                {% if ap_access.tab.name is same as(tabName) and ap_access.edit is same as(true) %}
                                <a title='Modifier la section: {{section.name}}' class="btn btn-edit" href="{{ path('information_section_edit', {'id': section.id}) }}">
                                    <i class="fas fa-edit"></i>
                                </a>
                                {% endif %}
                            {% endfor %}
                        </a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {# test #}
            {# {% for ap_access in app.user.RoleId.apAccesses %}
                {% if ap_access.tab.name is same as(tabName) and ap_access.add is same as(true) %}
                    <a title='Créer une nouvelle section' href="{{ path('information_section_new_qse', {'id': parent.id}) }}" class="btn btn-create">
                    <i class="fa-solid fa-square-plus"></i></a>
                {% endif %}
            {% endfor %} #}
            {# test #}
        </div>
    </div>
    <div class=" tablist-custom-output">
        <div class="tab-content array-scroll" id="nav-tabContent">
            {% set loop_qse = 0 %}
            {% set fileEmpty = 0 %}
            {% for section in all_section %}
                {% if section.state == 2 and section.parentSection.id == parent.id %}
                    {% for file in all_file %}
                        {% if file.section.id == section.id and file.archive == 0 %}
                            {% set fileEmpty = fileEmpty + 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if fileEmpty == 0 %}
                        {% else %}
                            {% set fileEmpty = 0 %}
                            {% set loop_qse = loop_qse + 1 %}
                            <div class="tab-pane fade show {{ loop_qse == 1 ? 'active' : '' }}" id="list-{{section.id}}" role="tabpanel" aria-labelledby="list-home-list">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="">Nom</th>
                                            <th scope="col" class="text-center">Voir</th>
                                            {% for ap_access in app.user.RoleId.apAccesses %}
                                                {% if ap_access.tab.name is same as(tabName) and ap_access.edit is same as(true) %}
                                                    <th scope="col" class="text-center">Edition</th>
                                                {% endif %}
                                            {% endfor %}
                                            {% for ap_access in app.user.RoleId.apAccesses %}
                                                {% if ap_access.tab.name is same as(tabName) and ap_access.edit is same as(true) %}
                                                    <th scope="col" class="text-center">Archiver</th>
                                                {% endif %}
                                            {% endfor %}
                                            {% for ap_access in app.user.RoleId.apAccesses %}
                                                {% if ap_access.tab.name is same as(tabName) and ap_access.delete is same as(true) %}
                                                    <th scope="col" class="text-center">Supprimer</th>
                                                {% endif %}
                                            {% endfor %}
                                            {% for ap_access in app.user.RoleId.apAccesses %}
                                                {% if ap_access.tab.name is same as(tabName) and ap_access.edit is same as(true) %}
                                                    <th scope="col" class="text-center">Vue</th>
                                                    <th scope="col" class="text-center">Parapher</th>
                                                    <th scope="col" class="text-center">Signature</th>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{ include('tabs/information/qse/file.html.twig') }}
                                    </tbody>
                                </table>

                                <div class="d-flex">
                                    {% for ap_access in app.user.RoleId.apAccesses %}
                                        {% if ap_access.tab.name is same as(tabName) and ap_access.add is same as(true) %}
                                            <span class="mx-3 align-self-center">              
                                                <a title="Ajouter un document" class="btn btn-create"href="{{ path('information_files_new', {'id': section.id}) }}">
                                                    <i class="fa-solid fa-square-plus"></i>
                                                </a>
                                            </span>
                                        {% endif %}
                                    {% endfor %}
                                    {# {% for ap_access in app.user.RoleId.apAccesses %}
                                        {% if ap_access.tab.name is same as(tabName) and ap_access.add is same as(true) %}
                                            <span class="mx-3 align-self-center">
                                                <a class=" btn btn-create" href="{{ path('information_files_new', {'id': section.id}) }}">Nouveau document</a>
                                            </span>
                                        {% endif %}
                                    {% endfor %}
                                    {% for ap_access in app.user.RoleId.apAccesses %}
                                        {% if ap_access.tab.name is same as(tabName) and ap_access.edit is same as(true) %}
                                            <span class="mx-3 align-self-center">
                                                <a class="btn btn-edit" href="{{ path('information_section_edit', {'id': section.id}) }}">Modifier</a>
                                            </span>
                                        {% endif %}
                                    {% endfor %} #}
                                </div>
                            </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>