{% extends 'base.html.twig' %}

{% block title %}ApInformationSection index{% endblock %}
{% block navbar %}
{% include "_headerBrut2.html.twig" %}
{% endblock %}
{% block body %}
    <h1>ApInformationSection index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>State</th>
                <th>Archive</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ap_information_section in ap_information_sections %}
            <tr>
                <td>{{ ap_information_section.id }}</td>
                <td>{{ ap_information_section.name }}</td>
                <td>{{ ap_information_section.state }}</td>
                <td>{{ ap_information_section.archive ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('information_section_show', {'id': ap_information_section.id}) }}">show</a>
                    <a href="{{ path('information_section_edit', {'id': ap_information_section.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('information_section_new') }}">Create new</a>
{% endblock %}
