<div class="form-new-container">
{{ form_start(form, {'attr': {'onsubmit': 'buttonName.disabled=true; return true;' }}) }}

    <div class="row">
        {{ form_row(form.name, { 'label': 'Nom' }) }}
    </div>
    {% for error in form.vars.errors.form.getErrors(true) %}
            <p class="alert alert-danger">{{ error.message }}</p>
    {% endfor %}
    <div class="row">
    {{ form_label(form.imageFile, 'Choisissez un document à transférer') }}
        {{ form_widget(form.imageFile, {
            attr: {
                'class' : 'imageUpload'
            }
        }) }}
    </div>

    <div class='image-preview m-5' id="imagePreview">
        <img src="" alt="Image preview" class="image-preview__image">
        <span class='image-preview__default-text'>Image</span>
    </div>

        <button class="btn w-100" name="buttonName" value="Submit">Sauvegarder</button>


{{ form_end(form) }}
</div>