{% extends 'base.html.twig' %}

{% block title %}Modifier document Vb{% endblock %}
{% block javascripts %}
{{ encore_entry_script_tags('apCatalogImagePreview') }}
{% endblock %}
{% block body %}
    {% for ap_access in app.user.RoleId.apAccesses %}
    	{% if ap_access.tab.name is same as(tabName) and ap_access.edit is same as(true) %}
        <div class="my-5 w-100 d-flex justify-content-around">
            <a class="btn" href="{{ path('ap_sector_vb_show', {'id': ap_catalog_files_vb.sector.id}) }}">Retour</a>
            <div></div>
        </div>
        <span class="form-container-with-title">
                <h1 class="catalog-h1 mt-2">Modifier {{ap_catalog_files_vb.name}}</h1>
            <span class="form-new-container">
                {{ form_start(form) }}
                    <div class="row">
                        {{ form_row(form.name, { 'label': 'Nom' }) }}
                    </div>
                    {% for error in form.vars.errors.form.getErrors(true) %}
                        <p class="alert alert-danger">{{ error.message }}</p>
                    {% endfor %}
                    <div class="row">
                        {{ form_label(form.imageFile, 'Choisissez un document à transférer') }}
                        {{ form_widget(form.imageFile, {
                            attr: {
                                    'class' : 'imageUpload'
                                }
                            }) }}
                    </div> 
                    <div class='image-preview' id="imagePreview">
                        <img src="" alt="Image preview" class="image-preview__image">
                        <span class='image-preview__default-text'><img class="img-thumbnail rounded mx-auto" src="{{ vich_uploader_asset(ap_catalog_files_vb, 'imageFile')}}"></span>
                    </div>
                    <div class="d-flex justify-content-around">
                    <button class="btn">{{ button_label|default('Sauvegarder') }}</button>
                {{ form_end(form) }} 
            	{% for ap_access in app.user.RoleId.apAccesses %}
    	            {% if ap_access.tab.name is same as(tabName) and ap_access.delete is same as(true) %}
                    {{ include('tabs/Catalog/VB/ap_catalog_files_vb/_delete_form.html.twig') }}
                    {% endif %}
                {% endfor %}
                </div>
            </span>
        </span>
    {% endif %}
{% endfor %}
{% endblock %}
