{% extends 'base.html.twig' %}

{% block title %}ApCatalogFilesVb index{% endblock %}

{% block body %}
    <h1>ApCatalogFilesVb index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Archive</th>
                <th>File_name</th>
                <th>File_size</th>
                <th>File_type</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ap_catalog_files_vb in ap_catalog_files_vbs %}
            <tr>
                <td>{{ ap_catalog_files_vb.id }}</td>
                <td>{{ ap_catalog_files_vb.name }}</td>
                <td>{{ ap_catalog_files_vb.archive ? 'Yes' : 'No' }}</td>
                <td>{{ ap_catalog_files_vb.fileName }}</td>
                <td>{{ ap_catalog_files_vb.fileSize }}</td>
                <td>{{ ap_catalog_files_vb.fileType }}</td>
                <td>{{ ap_catalog_files_vb.createdAt ? ap_catalog_files_vb.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('ap_catalog_files_vb_show', {'id': ap_catalog_files_vb.id}) }}">show</a>
                    <a href="{{ path('ap_catalog_files_vb_edit', {'id': ap_catalog_files_vb.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ap_catalog_files_vb_new') }}">Create new</a>
{% endblock %}
