				{% if app.user.RoleId is defined %}
        <div  class="d-flex flex-column header-vertical sticky-top fixed-top">
					{% for apAccess in app.user.RoleId.apAccesses %}
						{% if apAccess.view == true %}
							{% if apAccess.tab.apTab is null %}
                 {% if app.request.attributes.get('_route') == apAccess.tab.path %} 
                    <a class="my-3 btn-header1 header1 nav-link active text-center" aria-current="page" href="{{path (apAccess.tab.path)}}"><i class="{{apAccess.tab.icon}}"></i></a>                    
                  {% else %}
                    <a class="my-3 btn-header1 headerNotActive nav-link active text-center" aria-current="page" href="{{path (apAccess.tab.path)}}"><i class="{{apAccess.tab.icon}}"></i></a>
                  {% endif %}
							{% endif %}
						{% endif %}
					{% endfor %}
            <div class="dropend my-3">
                <button class="w-100 btn btn-header1 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li class="ps-2">{{ app.user.firstname }}
						{{ app.user.lastname }}</li>
                <li><a class="dropdown-item text-danger fw-bolder" href="/logout">Déconnexion ⛔</a></li> 
              </ul>
             </div>
        </div>
				{% endif %}
