

{% if app.user.RoleId is defined %}
{% set parentTab = 0 %}
        <div class="d-flex" onmousedown="return false" onselectstart="return false">
					{% for apAccess in app.user.RoleId.apAccesses %}
						{% if apAccess.view == true %}
							{% if apAccess.tab.apTab is null %}
                    <a class=" nav-link text-center  
                        {% if app.request.attributes.get('_controller') matches "#" ~ apAccess.tab.ControlPath ~ "#" %}
                        {% set parentTab = apAccess.tab.id %}
                          header1
                        {% else %} 
                        headerNotActive
                        {% endif %}
                    active" aria-current="page" href="{{path (apAccess.tab.path)}}">{{apAccess.tab.name}}</a>
                {% endif %}
             {% endif %}
					{% endfor %}
            <div class="dropstart">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li class="ps-2">{{ app.user.firstname }}
						{{ app.user.lastname }}</li>
                <li><a class="dropdown-item text-danger fw-bolder" href="/logout">Déconnexion ⛔</a></li>
              </ul>
             </div>
        </div>
          {% set foo = 0 %}
          <ul class="nav nav-pills d-flex justify-content-around" id="pills-tab" role="tablist">
            {% for apAccess in app.user.RoleId.apAccesses %}
            {% set foo = foo + 1 %}
              {% if apAccess.view == true %}
                {% if apAccess.tab.apTab is not null and apAccess.tab.apTab.id == parentTab %}
                {% if app.request.attributes.get('_controller') matches "#" ~ apAccess.tab.ControlPath ~ "#" %}
                    <li class="header2 nav-item">
                    <a class="header2 nav-item-uniform nav-link active text-center" href="{{ path(apAccess.tab.apTab.path)}}{{apAccess.tab.position ==  2 ? '?roleback=2' : '' }}" >{{ apAccess.tab.name }}</a>
                    </li>
                {% else %}
                    <li class="header2 nav-item">
                    <a class="header2 nav-item-uniform nav-link text-center" href="{{ path(apAccess.tab.apTab.path)}}{{apAccess.tab.position ==  2 ? '?roleback=2' : '' }}" >{{ apAccess.tab.name }}</a>
                    </li>
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
          {% set showActiveTab = 0 %}
          <div class="tab-content" id="pills-tabContent">
            {% for apAccess in app.user.RoleId.apAccesses %}
              {% if apAccess.view == true %}
                {% if apAccess.tab.apTab is not null and app.request.attributes.get('_route') == apAccess.tab.apTab.path %}
                {% set showActiveTab = showActiveTab + 1 %}
                  {% if app.request.query.get("roleback") is defined and app.request.query.get("roleback") != null %}
                    <div class="tab-pane fade {{showActiveTab == app.request.query.get("roleback") ? 'show active' : '' }}" id="pills-{{ apAccess.tab.name }}" role="tabpanel" aria-labelledby="pills-{{ apAccess.tab.name }}">{% include apAccess.tab.path %}</div>
                  {% else %}       
                    <div class="tab-pane fade {{showActiveTab == 1 ? 'show active' : '' }}" id="pills-{{ apAccess.tab.name }}" role="tabpanel" aria-labelledby="pills-{{ apAccess.tab.name }}">{% include apAccess.tab.path %}</div>
                  {% endif %} 
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
				{% endif %}

