				{% if app.user.RoleId is defined %}
        {# <div  class="d-flex">
					{% for apAccess in app.user.RoleId.apAccesses %}
						{% if apAccess.view == true %}
							{% if apAccess.tab.apTab is null %}
                 {% if app.request.attributes.get('_route') == apAccess.tab.path %} 
                    <a class="btn-lambda header1 nav-link active text-center" aria-current="page" href="{{path (apAccess.tab.path)}}">{{apAccess.tab.name}}</a>                    
                  {% else %}
                    <a class="btn-lambda headerNotActive nav-link active text-center" aria-current="page" href="{{path (apAccess.tab.path)}}">{{apAccess.tab.name}}</a>
                  {% endif %}
							{% endif %}
						{% endif %}
					{% endfor %}
            <div class="dropstart">
                <button class="btn btn-user-header dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li class="ps-2">{{ app.user.firstname }}
						{{ app.user.lastname }}</li>
                <li><a class="dropdown-item text-danger fw-bolder" href="/logout">Déconnexion ⛔</a></li> 
              </ul>
             </div>
        </div> #}
          {% set foo = 0 %}
          <ul class="nav nav-pills d-flex justify-content-around" id="pills-tab" role="tablist">
            {% for apAccess in app.user.RoleId.apAccesses %}
              {% if apAccess.view == true %}
                {% if apAccess.tab.apTab is not null and app.request.attributes.get('_route') == apAccess.tab.apTab.path %}
                {% set foo = foo + 1 %}
                  {% if app.request.query.get("roleback") is defined and app.request.query.get("roleback") != null %}
                    <li class="header2 nav-item" role="presentation">
                    <button class="header2 nav-item-uniform nav-link {{foo == app.request.query.get("roleback") ? 'active' : '' }}" id="pills-{{ apAccess.tab.name }}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{ apAccess.tab.name }}" type="button" role="tab" aria-controls="pills-{{ apAccess.tab.name }}" aria-selected="true">{{ apAccess.tab.name }}</button>
                    </li>
                  {% else %}
                <li class="header2 nav-item " role="presentation">
                            <button class="header2 nav-item-uniform nav-link {{foo == 1 ? 'active' : '' }}" id="pills-{{ apAccess.tab.name }}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{ apAccess.tab.name }}" type="button" role="tab" aria-controls="pills-{{ apAccess.tab.name }}" aria-selected="true">{{ apAccess.tab.name }}</button>
                          </li>
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
          {% set showActiveTab = 0 %}
          <div class="tab-content" id="pills-tabContent">
            {% for apAccess in app.user.RoleId.apAccesses %}
              {% if apAccess.view == true %}
                {% if apAccess.tab.apTab is not null and app.request.attributes.get('_route') == apAccess.tab.apTab.path %}
                {% set showActiveTab = showActiveTab + 1 %}                         
                  {% if app.request.query.get("roleback") is defined and app.request.query.get("roleback") != null %}
                    <div class="global-zoom tab-pane fade {{showActiveTab == app.request.query.get("roleback") ? 'show active' : '' }}" id="pills-{{ apAccess.tab.name }}" role="tabpanel" aria-labelledby="pills-{{ apAccess.tab.name }}">{% include apAccess.tab.path %}</div>

                  {% else %}                  
                     <div  class="global-zoom tab-pane fade {{showActiveTab == 1 ? 'show active' : '' }}" id="pills-{{ apAccess.tab.name }}" role="tabpanel" aria-labelledby="pills-{{ apAccess.tab.name }}">{% include apAccess.tab.path %}</div> 
                  {% endif %} 
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
				{% endif %}
        

{# 
        {% set controllerRoutes = {
  1:'ManagerController',
  2:'UserController',
  3:'RoleController'
} %}

<pre>
  {{ dump(controllerRoutes) }}
</pre>
route actuelle
<pre>
  {{ dump(app.request.attributes.get('_controller')) }}
</pre>

{% for controllerRoute in controllerRoutes %}

        <p>{{app.request.attributes.get('_controller')}}</p>
       {% if fullRoute  matches '#App\\Controller\\Tabs\\Manager.+\#' %} 
        {% if app.request.attributes.get('_controller') matches "#" ~ controllerRoute ~ "#" %}
            route matched
        {% else %}
            no non no
        {% endif %}

{% endfor %} #}


        