{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}
<div class="aprole-global-container">
        <h1>Modification du mot de passe</h1>
        <div class="aprole-global-container">
            {{ form_start(form) }}
            {# {{ form_widget(form) }} #}
        
            {{form_row(form.plainPassword, { 'label': 'Nouveau mot de passe de ' ~ user.firstname ~ ' ' ~ user.lastname ~ ' :' } ) }}
        </div>
        <div class='d-flex justify-content-around' >
            <a class='btn-bottom btn-edit-role btn btn-ligth' href="{{ path('manager') }}">Retour</a>
            {# {{form_row(form.)}} #}
            <button class="btn-bottom btn-edit-role btn btn-ligth">{{ button_label|default('Enregistrer') }}</button>
        </div>
    {{ form_end(form) }}
</div>

{% endblock %}